/* Buttons */
button {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: #2b68cc;
  color: white;
  margin-top: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #2455a1;
}